div.main-div{
  display: flex;
  flex-flow: column;
  align-content: space-around;
  height: 300px;
  align-items: center;
  justify-content: space-around;
}
div div{
  
}
div div span{
  display: block;
  margin-left: 80px;
  color: red;
}